@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    .search-bar {
        .input-container {
            width: 100%;
        }
    }

    .card {
        width: 200px;
        height: 280px;
        flex: 0 0 calc(50%);

        .card__title {
            font-size: 30px;
        }

        .card__number {
            font-size: 20px;
        }
    }

    .container {
        flex-direction: column;

        .sidebar {
            width: 100%;
        }

        .content {
            margin-left: 0;
        }
    }
}